@import '../abstracts/variables';

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// GRADIENTS
@mixin gradient-primary {
  background-image: linear-gradient(to right bottom, $gradient-1, $gradient-2);
}

@mixin gradient-primary-reverse {
  background-image: linear-gradient(to right bottom, $gradient-2, $gradient-1);
}

@mixin gradient-primary-light {
  background-image: linear-gradient(to right bottom, $gradient-1-light, $gradient-2-light);
}

@mixin gradient-primary-light-reverse {
  background-image: linear-gradient(to right bottom, $gradient-2-light, $gradient-1-light);
}

@mixin gradient-danger {
  background-image: linear-gradient(to right bottom, $danger-1, $danger-2);
}

@mixin gradient-danger-reverse {
  background-image: linear-gradient(to right bottom, $danger-2, $danger-1);
}

@mixin gradient-danger-light {
  background-image: linear-gradient(to right bottom, $danger-1-light, $danger-2-light);
}

@mixin gradient-danger-light-reverse {
  background-image: linear-gradient(to right bottom, $danger-2-light, $danger-1-light);
}

// MEDIA QUERIES
/*
0 - 600px: Phone;
600 - 900px: Tablet Portrait;
600 - 1200px: Tablet Landscape;
1200 - 1800px: Default Styles;
1800px + : Large Desktop;

$breakpoint argument selections:
- phone
- tab-port
- tab-land
- large-desktop
1em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content
    }

    ; // 600px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }

    ; // 900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }

    ; // 1200px
  }

  @if $breakpoint==large-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    }

    ; // 1800px
  }
}